.sidenav {
  width: 332px;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;

  background: radial-gradient(
      26.43% 129.79% at 22.92% -406.15%,
      #ff0000 10%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      26deg,
      rgba(235.42, 101.03, 101.03, 0.2) 0%,
      rgba(236.48, 2.96, 2.96, 0) 100%
    );
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 70px;
  animation-name: ;
  animation-duration: 2000ms;
}
@keyframes example {
  from {
    position: absolute;
    top: 50px;
    right: 0;
  }
  to {
    position: absolute;
    top: 50px;
    right: 50px;
  }
}
.menu-bar-footer {
  height: 100px;
  background-image: linear-gradient(to right, #fa9b9b, #fff);
}
.hide {
  display: none;
}
.show {
  display: block;
}
@keyframes revexample {
  from {
    position: absolute;
    top: 50px;
    right: 50px;
  }
  to {
    position: absolute;
    top: 30px;
    right: 0;
  }
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;

  right: 30px;
  font-size: 36px;
}
.menu-bar-logo {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.menu-bar-links ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.menu-bar-links ul li {
  padding: 10px 20px;
  background-color: #000;
  width: 100%;
}
.menu-bar-links ul li a {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
