* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
  overflow-y: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  width: 100%;
  background-color: #fff;
}

.hamburger {
  display: none;
}

.hamburger-visible {
  display: block;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #101010;
}

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 5rem;
}

.nav-link {
  font-size: 1.6rem;
  font-weight: 400;
  color: #475569;
}

.nav-link:hover {
  color: #fff;
}

.nav-logo {
  font-size: 2.1rem;
  font-weight: 500;
  color: #482ff7;
}

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    padding: 10px;
    color: #fff;
    top: 4rem;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav-menu.active {
    left: 0;
  }

  .nav-item {
    margin: 2.5rem 0;
  }

  .hamburger {
    display: block;
    cursor: pointer;
  }

  .hamburger span {
    background-color: #000;
  }

  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    color: #fff;
  }

  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #fff;
  }

  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #fff;
  }

  .hamburger-visible {
    display: none;
    cursor: pointer;
  }

  .hamburger-visible.active .bar:nth-child(2) {
    opacity: 0;
    background-color: #fff;
  }

  .hamburger-visible.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background-color: #fff;
  }

  .hamburger-visible.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background-color: #fff;
  }
}

.footer {
  background-image: linear-gradient(red, #8e3333, #d4a8a8);
  color: #fff;
  padding: 30px 0;
  width: 100%;
}
.footer-columns {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  align-items: center;
  padding: 0 50px;
}
.footer-column {
  flex: 1;
  min-width: 300px;
  margin-bottom: 20px;
}
.footer-column-form {
  flex: 1;
  max-width: 300px;
  margin-bottom: 20px;
}
.footer-heading {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
}
.footer-subtitle {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}
.footer-input {
  width: 100%;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
}
.footer-button {
  cursor: pointer;
  font-size: 20px;
  border: none;
  background-color: #000;
  color: #fff;
  padding: 5px 10px;
  border-radius: 50%;
  margin-left: -50px;
}
.footer-column i {
  font-size: 2.25rem;
}
.address {
  display: flex;
  font-size: 16px;
  align-items: center;
  gap: 20px;
  color: #fff;
  margin-bottom: 20px;
}
.mail {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-size: 16px;
}
.contact {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-size: 16px;
}
.footer-links {
  display: flex;

  flex-direction: column;
  gap: 30px;
}
.footer-links li a {
  color: #fff;
  font-size: 20px;
}
.footer-form {
  display: flex;
  align-items: center;
}
.footer-heading-form {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 10px;
  text-align: center;
}
.footer-social {
  padding: 40px;
  height: fit-content;
  display: flex;
  color: #fff;
  justify-content: space-between;
  width: 462px;
  font-size: 2.25rem;
}
.footer-social a i {
  font-size: 2.25rem;
  color: #fff;
}
@media (max-width: 768px) {
  .heading {
    text-align: center;
  }
  .footer-social {
    width: 100%;
  }
  .footer-columns {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .footer-links li {
    text-align: center;
  }
  .info-us {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .contact {
    margin-left: -70px;
  }
}
a:hover {
  text-decoration: underline;
}
body {
  overflow-x: hidden;
  background-image: url("./assests/Articles.png");
  background-size: contain;
   
}
.main-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-image: linear-gradient(
    180deg,
    black 0%,
    rgba(0, 0, 0, 0.67) 44%,
    rgba(0, 0, 0, 0.47) 100%
  );
  border: 1px sloid black;
  opacity: 0.9;
  background-position-x: center;
  height: 300px;
}
.main-content h1 {
  color: #fff;
  font-size: 60px;
  font-weight: 500;
}
.cards {
  display: flex;
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.row {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  margin-bottom: 50px;
  background: white;
  box-shadow: 5px 5px 18px rgba(0, 0, 0, 0.16);
  border-radius: 20px;
  padding: 0px 20px;
}

.pic img {
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  width: 300px;
  height: 191px;
}
.name {
  font-weight: bold;
  font-size: 20px;
  margin-top: 40px;
  margin-bottom: 40px;

  text-align: center;
}

.empty {
  height: 100px;
  width: 100%;
}
.empty-sm {
  height: 50px;
  width: 100%;
}
.card:hover {
  scale: 1.01;
}
@media (max-width: 768px) {
  .card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-bottom: 30px;
  }
}
.sidenav {
  width: 332px;
  position: absolute;
  top: 50px;
  right: 50px;
  z-index: 1;

  background: radial-gradient(
      26.43% 129.79% at 22.92% -406.15%,
      #ff0000 10%,
      rgba(255, 255, 255, 0) 100%
    ),
    linear-gradient(
      26deg,
      rgba(235.42, 101.03, 101.03, 0.2) 0%,
      rgba(236.48, 2.96, 2.96, 0) 100%
    );
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  animation-name: ;
  animation-duration: 2000ms;
}
@keyframes example {
  from {
    position: absolute;
    top: 50px;
    right: 0;
  }
  to {
    position: absolute;
    top: 50px;
    right: 50px;
  }
}
.menu-bar-footer {
  height: 100px;
  background-image: linear-gradient(to right, #fa9b9b, #fff);
}
.hide {
  display: none;
}
.show {
  display: block;
}
@keyframes revexample {
  from {
    position: absolute;
    top: 50px;
    right: 50px;
  }
  to {
    position: absolute;
    top: 30px;
    right: 0;
  }
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 30px;
  font-size: 36px;
}
.menu-bar-logo {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.menu-bar-links ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.menu-bar-links ul li {
  padding: 10px 20px;
  background-color: #000;
  width: 100%;
}
.menu-bar-links ul li a {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
