.sidenav {
  width: 332px;
  position: absolute;
  top: 70px;
  right: 50px;
  z-index: 10000;

  background-color: white;
  border: 1px solid black;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 30px;
  animation-name: ;
  animation-duration: 2000ms;
}
@keyframes example {
  from {
    position: absolute;
    top: 50px;
    right: 0;
  }
  to {
    position: absolute;
    top: 50px;
    right: 50px;
  }
}
.menu-bar-footer {
  height: 100px;
 
}
.hide {
  display: none;
}
.show {
  display: block;
}
@keyframes revexample {
  from {
    position: absolute;
    top: 50px;
    right: 50px;
  }
  to {
    position: absolute;
    top: 30px;
    right: 0;
  }
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;

  right: 30px;
  font-size: 36px;
}
.menu-bar-logo {
  margin-top: -10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.menu-bar-links ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}
.menu-bar-links ul li {
  padding: 10px 20px;
  background-color: #000;
  width: 100%;
}
.menu-bar-links ul li a {
  font-size: 15px;
  color: #fff;
  font-weight: 700;
  text-align: center;
}
